DesignCSS/App_WebReferences/NewCRMService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParaList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParaList" nillable="true" type="tns:ParaList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParaList" nillable="true" type="tns:ArrayOfParaList" />
  <xs:complexType name="ParaList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParaList" nillable="true" type="tns:ParaList" />
</xs:schema>