DesignCSS/App_WebReferences/NewCRMService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2866/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2866/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2866/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:2866/Service.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_list_InputMessage">
    <wsdl:part name="parameters" element="tns:list" />
  </wsdl:message>
  <wsdl:message name="IService_list_OutputMessage">
    <wsdl:part name="parameters" element="tns:listResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertWithDataset_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertWithDataset" />
  </wsdl:message>
  <wsdl:message name="IService_InsertWithDataset_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertWithDatasetResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FillDDL_InputMessage">
    <wsdl:part name="parameters" element="tns:FillDDL" />
  </wsdl:message>
  <wsdl:message name="IService_FillDDL_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillDDLResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IService_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AutomaticNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:AutomaticNumber" />
  </wsdl:message>
  <wsdl:message name="IService_AutomaticNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutomaticNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LOV_InputMessage">
    <wsdl:part name="parameters" element="tns:LOV" />
  </wsdl:message>
  <wsdl:message name="IService_LOV_OutputMessage">
    <wsdl:part name="parameters" element="tns:LOVResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="list">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/list" message="tns:IService_list_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/listResponse" message="tns:IService_list_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Insert" message="tns:IService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertResponse" message="tns:IService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertWithDataset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertWithDataset" message="tns:IService_InsertWithDataset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertWithDatasetResponse" message="tns:IService_InsertWithDataset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Update" message="tns:IService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateResponse" message="tns:IService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Delete" message="tns:IService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteResponse" message="tns:IService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillDDL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FillDDL" message="tns:IService_FillDDL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FillDDLResponse" message="tns:IService_FillDDL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Select" message="tns:IService_Select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SelectResponse" message="tns:IService_Select_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutomaticNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AutomaticNumber" message="tns:IService_AutomaticNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AutomaticNumberResponse" message="tns:IService_AutomaticNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LOV">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LOV" message="tns:IService_LOV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LOVResponse" message="tns:IService_LOV_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="list">
      <soap:operation soapAction="http://tempuri.org/IService/list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWithDataset">
      <soap:operation soapAction="http://tempuri.org/IService/InsertWithDataset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillDDL">
      <soap:operation soapAction="http://tempuri.org/IService/FillDDL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/IService/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutomaticNumber">
      <soap:operation soapAction="http://tempuri.org/IService/AutomaticNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LOV">
      <soap:operation soapAction="http://tempuri.org/IService/LOV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:2866/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>